body {
    background-color: #252525;
    color: #FEF5EA;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    transition: background-color .5s;
}

.ball {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 1);

    margin: 5px auto;


    font-size: 22px;
    font-weight: bold;

    transition: width 1s, height 1s;
}

.ball1 {
    background-color: skyblue;
}

.ball2 {
    background-color: cadetblue;
}

.ball3 {
    background-color: darkcyan;
}

.ball4 {
    background-color: darkkhaki;
}

.ball5 {
    background-color: lightskyblue;
    font-size: 16px;
}

.ball6 {
    background-color: lightgreen;
}

.btn {
    margin: 3px;
    border-radius: 10px;
}